<!DOCTYPE html>
<html>

   <head>
      <title>carrerjet</title>
   </head>

   <body>
      <table width = "100%" border = "0" height ="100%">
         
         <tr>
            <td colspan = "2" bgcolor = "yellow" width = "100%" height="150px">
               <h1 style="text-align: center">
                  
                  <%= link_to 'HTML KNOWLEDGE ', new_carrierknowledghe_path%>
               </h1>
            </td>
         </tr>

           <tr>
            <td colspan = "2" bgcolor = "yellow" width = "100%" height="150px">
               <h1 style="text-align: center">
                  

                   <%= link_to ' CSS KNOWLEDGE', new_carrierknowledghe_path%>
              </h1>
            </td>
         </tr>
         <tr>
            <td colspan = "2" bgcolor = "yellow" width = "100%" height="150px">
               <h1 style="text-align: center">
                  

                  <%= link_to ' JAVASCIPT KNOWLEDGE', new_carrierknowledghe_path%>
               </h1>
            </td>
         </tr>
<tr>
            <td colspan = "2" bgcolor = "yellow" width = "100%" height="150px">
               <h1 style="text-align: center">
                  

                  <%= link_to ' ANGULAR-JS KNOWLEDGE ', new_carrierknowledghe_path%>
              </h1>
            </td>
         </tr>



        

         
      </table>
      </body>
      </html>

