<h1 style="text-align: center"><u>CHOOSE YOUR WAY  OF INTERST IN SOFTWARE DEVELOPMENT</u></h1>

<%= render 'form', carrierknowledghe: @carrierknowledghe %>

<%= link_to 'Back', carrierknowledghes_path %>
